.metadata/.lock
.metadata/.log
.metadata/version.ini
.metadata/.plugins/org.eclipse.core.resources/.history/21/509a7b9a8724001d165d96ad6cb94ab2
.metadata/.plugins/org.eclipse.core.resources/.history/22/90c0773e8124001d18e2aec3559de4bc
.metadata/.plugins/org.eclipse.core.resources/.history/3d/50824b798724001d165d96ad6cb94ab2
.metadata/.plugins/org.eclipse.core.resources/.history/3e/309191908624001d165d96ad6cb94ab2
.metadata/.plugins/org.eclipse.core.resources/.history/3f/d04462907b24001d18e2aec3559de4bc
.metadata/.plugins/org.eclipse.core.resources/.history/45/70b7d8d18324001d165d96ad6cb94ab2
.metadata/.plugins/org.eclipse.core.resources/.history/53/60d6af518224001d165d96ad6cb94ab2
.metadata/.plugins/org.eclipse.core.resources/.history/6/202976138324001d165d96ad6cb94ab2
.metadata/.plugins/org.eclipse.core.resources/.history/68/80ac75e18124001d165d96ad6cb94ab2
.metadata/.plugins/org.eclipse.core.resources/.history/69/00ba3bab8224001d165d96ad6cb94ab2
.metadata/.plugins/org.eclipse.core.resources/.history/74/d0de6b768324001d165d96ad6cb94ab2
.metadata/.plugins/org.eclipse.core.resources/.history/7a/a006bf908224001d165d96ad6cb94ab2
.metadata/.plugins/org.eclipse.core.resources/.history/8f/60de936f8724001d165d96ad6cb94ab2
.metadata/.plugins/org.eclipse.core.resources/.history/91/a0b74f6a7b24001d18e2aec3559de4bc
.metadata/.plugins/org.eclipse.core.resources/.history/98/a06a80da8624001d165d96ad6cb94ab2
.metadata/.plugins/org.eclipse.core.resources/.history/9b/705c0c828224001d165d96ad6cb94ab2
.metadata/.plugins/org.eclipse.core.resources/.history/9d/1091511f7b24001d18e2aec3559de4bc
.metadata/.plugins/org.eclipse.core.resources/.history/a3/204d53038324001d165d96ad6cb94ab2
.metadata/.plugins/org.eclipse.core.resources/.history/a4/90da9e8c8324001d165d96ad6cb94ab2
.metadata/.plugins/org.eclipse.core.resources/.history/ab/100777d87b24001d18e2aec3559de4bc
.metadata/.plugins/org.eclipse.core.resources/.history/b2/e0cbffd58324001d165d96ad6cb94ab2
.metadata/.plugins/org.eclipse.core.resources/.history/bc/703c116b8724001d165d96ad6cb94ab2
.metadata/.plugins/org.eclipse.core.resources/.history/c5/a07115808624001d165d96ad6cb94ab2
.metadata/.plugins/org.eclipse.core.resources/.history/d8/20aeb21d7b24001d18e2aec3559de4bc
.metadata/.plugins/org.eclipse.core.resources/.history/db/00b79eab8124001d165d96ad6cb94ab2
.metadata/.plugins/org.eclipse.core.resources/.history/df/c092728b8724001d165d96ad6cb94ab2
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/1_Add/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/1_Add/.indexes/e4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/1_Add/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/2_float/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/2_float/.indexes/e4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/2_float/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/3_boolean/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/3_boolean/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/3_boolean/.indexes/e4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/3_boolean/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/4_String/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/4_String/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/4_String/.indexes/e4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/4_String/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/HelloWorld/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/HelloWorld/.indexes/e4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/HelloWorld/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/Add.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/FloatCal.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Hello.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Main (1).launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Main.launch
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.equinox.p2.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.core/1200327481.index
.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
.metadata/.plugins/org.eclipse.jdt.core/1912698007.index
.metadata/.plugins/org.eclipse.jdt.core/2295793730.index
.metadata/.plugins/org.eclipse.jdt.core/3515841088.index
.metadata/.plugins/org.eclipse.jdt.core/3917156077.index
.metadata/.plugins/org.eclipse.jdt.core/3927879410.index
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/HelloWorld/2022/8/35/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/HelloWorld/2022/8/35/refactorings.index
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.16.3.20211002-1029.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
*/.metadata
*/.settings
*/.*